<a href="https://colab.research.google.com/github/KyleLin0302/kylelin/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#a002
print(sum(list(map(int,input().split()))))

3 4 5
12

In [4]:
#d827
n = int(input())
print((n//12)*50 + (n%12)*5)

11
55

In [ ]:
#a003
M,D = map(int,input().split())
S=(M*2+D)%3
if S == 0:
    print("普通")
elif S == 1:
    print("吉")
else:
    print("大吉")

In [6]:
#d065
print(max(list(map(int,input().split()))))

3 56 21
56

In [11]:
#d058 不用if的寫法
n = int(input())
try:
    print(n//abs(n))
except:
    print(0)

0
1

In [13]:
#d058 用if的寫法
n = int(input())
if n > 0:
    print(1)
elif n < 0:
    print(-1)
else:
    print(0)

0
0

In [ ]:
#d072
for _ in range(int(input())):
    n = int(input())
    if n % 4 == 0:
        if n % 100 != 0:
            print(f"Case {_ + 1}: a leap year")
        elif n % 400 == 0:
            print(f"Case {_ + 1}: a leap year")
        else:
            print(f"Case {_ + 1}: a normal year")
    else:
        print(f"Case {_ + 1}: a normal year")

In [17]:
#e968
l=[]
n = int(input())
a,b,c=map(int,input().split())
for i in range(n,0,-1):
    l.append(i)
l.remove(a);l.remove(b);l.remove(c);
for i in l:
    print(f"No. {i}")

5
2 3 4
[5, 1]